fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
python-dotenv
faster-whisper
ctranslate2
torch>=2.6.0
tenacity
pytest
httpx
filetype
langdetect
groq
mediapipe
opencv-python
numpy
